
{{#each this}}
<li class="top_film">
        <img src="../src/images/film_previev2.jpg" alt="film image" class="top_film_image"></img> 
<!-- див, что появляется при ховере -->
        <div class="filler">
          <p class="top_film_quality">HD</p> 
          <h3 class="top_film_name">Black widow</h3><div class="horizontal_line"></div>
          <ul class="about_top_film">
        <li class="top_film_parameter genre">Genre:</li>
        <li class="top_film_parameter premier">Premier:</li>
        <li class="top_film_parameter director">Director:</li>
        <li class="top_film_parameter year">Year:</li>
      </ul>
      <img src="../src/images/favorite.png" alt="" class="favorite">
     <div class="rating"> <img src="../src/images/star.png" alt="" class="star"><p class="rating_text">4.9</p></div>
    </div>
<!-- див, что появляется при ховере -->
  </li>
  {{#each}}