{{#each this}}

{{!-- <img class='poster_img' src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt='' /> --}}

  <div class='poster_hover_block'>
    <h5>{{original_title}}</h5>

    {{#each genres}}
      <li>{{this.name}}</li>
    {{/each}}

    <p>{{overview}}</p>
  </div>

{{/each}}