@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600&family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.body {
  background: linear-gradient(127.11deg, #292725 66.28%, #cd2912 155.28%, #e9290f 170.6%);
  background-attachment: fixed;
}

.menu_item {
  transition: all 0.2s linear;
}

.menu_item_link {
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #555555;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s linear;
}

.selected{
  cursor: pointer;
  background: linear-gradient(163.13deg, #e9290f 2.75%, #db802c 116.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_item_link:hover {
  cursor: pointer;
  background: linear-gradient(163.13deg, #e9290f 2.75%, #db802c 116.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table;
  transition: all 0.2s linear;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_positioning_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  /* margin-top: -105px; */
  display: flex;
  position: fixed;
  vertical-align: middle;
  top: 0;
  z-index: 5;
  justify-content: center;
  background-color: rgba(41, 39, 37, 0.925);
  padding-top: 30px;
  padding-bottom: 0;
}

.user_icon {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  /* padding-bottom: 5px; */
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.logo {
  width: 7vw;
  /* height: 75px; */
  padding-bottom: 10px;
}

.main {
  margin-top: 151px;
}

.filler {
  border-radius: 15px;

  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    153.68deg,
    rgba(164, 0, 20, 0.85) 33.69%,
    rgba(100, 12, 0, 0.85) 61.39%
  );
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
}